<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YYFrameExp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83CECA001CC8FBED00B5C3DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83CECA1C1CC8FBED00B5C3DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83CECA271CC8FBED00B5C3DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
