<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>action</key>
		<string>openUrl</string>
		<key>param</key>
		<dict>
			<key>url</key>
			<string>url</string>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>WebViewController</string>
		<key>param</key>
		<dict>
			<key>urlString</key>
			<string>url</string>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>action</key>
		<string>tabSelect</string>
		<key>param</key>
		<dict>
			<key>index</key>
			<string>0</string>
		</dict>
	</dict>
	<key>10</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>ProFlowGatherDetailViewController</string>
		<key>param</key>
		<dict>
			<key>articleId</key>
			<string>id</string>
		</dict>
	</dict>
	<key>100</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>MainSearchViewController</string>
		<key>param</key>
		<dict>
			<key>recommend_tag</key>
			<string>tag</string>
			<key>searchWord</key>
			<string>word</string>
			<key>type</key>
			<string>type</string>
			<key>keyId</key>
			<string>id</string>
		</dict>
	</dict>
	<key>200</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>MessageCenterViewController</string>
		<key>param</key>
		<dict/>
	</dict>
	<key>201</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>PersonalMessagesViewController</string>
		<key>param</key>
		<dict>
			<key>typeId</key>
			<string>tid</string>
		</dict>
	</dict>
	<key>300</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>ProRegisterViewController</string>
		<key>param</key>
		<dict>
			<key>isPresent</key>
			<false/>
		</dict>
	</dict>
	<key>301</key>
	<dict>
		<key>action</key>
		<string>login</string>
	</dict>
	<key>302</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>ProMyMsgViewController</string>
		<key>isNeedLogin</key>
		<true/>
		<key>param</key>
		<dict/>
	</dict>
	<key>303</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>ChangePwdViewController</string>
		<key>isNeedLogin</key>
		<true/>
		<key>param</key>
		<dict/>
	</dict>
	<key>400</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>ProDailySignViewController</string>
		<key>isNeedLogin</key>
		<true/>
		<key>param</key>
		<dict/>
	</dict>
	<key>401</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>ShareViewController</string>
		<key>param</key>
		<dict/>
	</dict>
	<key>402</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>InviteFriendViewController</string>
		<key>isNeedLogin</key>
		<true/>
		<key>param</key>
		<dict/>
	</dict>
	<key>403</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>MiaoYYNewViewController</string>
		<key>param</key>
		<dict/>
	</dict>
	<key>404</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>InputInviteCodeViewController</string>
		<key>isNeedLogin</key>
		<true/>
		<key>param</key>
		<dict/>
	</dict>
	<key>500</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>ChargeMainViewController</string>
		<key>param</key>
		<dict>
			<key>index</key>
			<string>0</string>
		</dict>
	</dict>
	<key>501</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>ChargeMainViewController</string>
		<key>param</key>
		<dict>
			<key>index</key>
			<string>1</string>
		</dict>
	</dict>
	<key>600</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>FeedBackViewController</string>
		<key>param</key>
		<dict/>
	</dict>
	<key>601</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>PromblesViewController</string>
		<key>param</key>
		<dict/>
	</dict>
	<key>602</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>ChargeRecordViewController</string>
		<key>isNeedLogin</key>
		<true/>
		<key>param</key>
		<dict/>
	</dict>
	<key>603</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>ScoreRecordViewController</string>
		<key>isNeedLogin</key>
		<true/>
		<key>param</key>
		<dict/>
	</dict>
	<key>604</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>PrizeRecordViewController</string>
		<key>isNeedLogin</key>
		<true/>
		<key>param</key>
		<dict/>
	</dict>
	<key>700</key>
	<dict>
		<key>action</key>
		<string>push</string>
		<key>name</key>
		<string>QRCodeViewController</string>
		<key>param</key>
		<dict>
			<key>qr_type</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>1401</key>
	<dict>
		<key>action</key>
		<string>pushLocalWeb</string>
		<key>url</key>
		<string>/wap/red_packet/scramble_packet.html</string>
		<key>param</key>
		<dict>
			<key>sessionStorage.packetId = %@</key>
			<string>id</string>
		</dict>
	</dict>
	<key>1410</key>
	<dict>
		<key>action</key>
		<string>pushRemoteWeb</string>
		<key>url</key>
		<string>http://192.168.2.71:8080/wap/red_packet/scramble_packet.html</string>
		<key>param</key>
		<dict>
			<key>sessionStorage.packetId = %@;</key>
			<string>id</string>
		</dict>
	</dict>
</dict>
</plist>
